* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto sans", sans-serif;
}

body {
  background: #333;
  color: #eee;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
